/*@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");*/

#home-link {
  text-decoration: none;
}

#home-link:hover {
  text-decoration: underline;
}

.poke-text-input,
.poke-name-input {
  max-width: 90%;
  box-shadow: 3px 3px 3px rgb(81, 28, 28);
  border: 1px goldenrod solid;
}

.poke-name-input:focus,
.poke-text-input:focus {
  box-shadow: 3px 3px 3px rgb(81, 28, 28);
}

@media (max-width: 350px) {
  .name-sprite,
  .sprite-placeholder {
    display: none;
  }
}

.accordion {
  --bs-accordion-color: rgb(255, 230, 0);
}

.form-floating {
  color: black;
}
