<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend</title>
   
    <link rel="stylesheet" href="/css/pokemon/pokesprite-pokemon-gen8.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesindex.css" />
  </head>
  <!-- <body>
    <p>If you can see this, your frontend is working properly. YAY!</p>

    <p>Check your API <a href="/api" target="_blank">here</a>.</p>
    <span class="pokesprite pokemon pikachu"></span>
  </body> -->
  <body>
    
    <!-- <h1 class="text-center">Poke-Forge</h1> -->
    <div class="text-center">
      <img src="images/Poke-Forge-10-20-2023.png" class="img-fluid" alt="Responsive image">
    </div>  
    <h1 class="text-center">A Pokemon Team Builder</h1>
    <hr>

    <div class="container">
        
        <h3 class="mt-4 py-4  bg-gradient text-center" id="create"><a href="createnewteam.html" target="_blank">Create Team</h3></a>
        <h3 class="mt-4 py-4  bg-gradient text-center" id="viewedit"><a href="vieweditteams.html" target="_blank">View/Edit Teams</h3></a>
        <h3 class="mt-4 py-4  bg-gradient text-center" id="viewother"><a href="viewotherteams.html" target="_blank">View Other Trainers Teams</h3></a>
        <h1 class="mt-4 py-4  text-center">Welcome to the Poke-Forge App!</h1>  
        <h2 class="py-1  text-center">
          Poke-Forge is a Pokemon Team Building App. It allows you to create many teams of 6 pokemon, so that you can have a 
          place where you can easily store and manage your teams to use in whatever pokemon battles you want. Just like in the games,
          each pokemon can hold an item, as well as having their own list of moves. You can also give each of your teams a name,
          so that you can easily remember which team is which, you also can view your teams stats: what types you have 
          on your team, as well as what types they are effective/weak against.  When creating a team you can also choose whether or not you want to make
          your team public to other users. 
        </h2>  
        
        

        
    </div>


    <footer class="container">
      
      <br>
      <br>
      <div class="links">
        <h2 class="mt-4 py-4 text-center">Links</h2>
        <h3 class="mt-4 py-4 text-center"><a href="https://www.textstudio.com/">Text effect for Poke-Forge Logo</h3></a>
      </div>
      
    </footer>


    
    
    
  </body>
</html>
