<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Other Teams</title>
    <link rel="stylesheet" href="/css/pokemon/pokesprite-pokemon-gen8.css" />
    <style type="text/css">
      body {
        
        background-color: #CD385A;
        color: #FFE600;
      }
      a {
        text-decoration: none;
        color: #FFE600;
      }
    </style>
  </head>
 
  <body>
    <!--Nothing to add here yet till we figure out how to display all the teams.  -->
  </body>
</html>
