body {
  background-color: #CD385A;
  color: #FFE600;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


a {
  text-decoration: none;
  color: #FFE600;
}

#create {
  background-color: #091644;
  border-radius: 10px;
  
}

#viewedit {
  background-color: #091644;
  border-radius: 10px;
}

#viewother {
  background-color: #091644;
  border-radius: 10px;
}