body {
  background-color: rgb(205, 56, 90);
  color: rgb(255, 230, 0);
}

header {
  background-color: rgb(159, 43, 70);
  color: rgb(255, 230, 0);
}

.link-info {
  text-decoration: none;
}

.link-info:hover {
  text-decoration: underline;
}

.v-border {
  width: 3px;
  background-color: rgb(185, 185, 36);
  border-radius: 99px;
}

#searchGroup {
  box-shadow: 5px 5px 5px rgb(97, 25, 25);
  border-radius: 10px;
}

.links {
  background-color: #091644;
  border-radius: 10px;
}
