<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
      <script src="js/registerscript.js"></script>
    <link rel="stylesheet" href="/css/pokemon/pokesprite-pokemon-gen8.css" />
    <style type="text/css">
      body {
        background-color: #cd385a;
        color: #ffe600;
      }
      a {
        text-decoration: none;
        color: #ffe600;
      }
      .square-box {
        height: 100vh;
        width: 100vw;
      }

      .registerBoxBorder {
        background-color: #091644;
        border-radius: 10px;
        
      }
      
      
    </style>
  </head>

  <body>
    <div class="square-box d-flex flex-column justify-content-center">
      <div class="registerBoxBorder p-5 mx-auto">
        <h1 class="text-center">Register</h1>
        <form class="d-flex flex-column justify-content-center align-items-center">
          <label class="my-4">
            Username
            <input type="text" />
          </label>
          <label class="mb-4">
            Password
            <input type="text" />
          </label>
          <label class="mb-4">
            Confirm Password
            <input type="text" />
          </label>
          <input class="mx-5" type="submit" id="Send" value="Submit" />
        </form>
      </div>  
    </div>
  </body>
</html>
